@import "bootstrap-config";
@import "variables";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $light-gray;
}

table {
  width: 100%;
}

.table-footer {
  text-align: center;
  background-color: white;
}

.container-body {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.container-fluid {
  max-width: 1400px;
}

.form-field {
  width: 100%;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

editor.is-invalid {
  .tox-edit-area {
    border: 1px solid red;
  }
}

.form-group {
  margin-bottom: 25px;

  editor {
    margin-top: 10px;
  }
}

.invalid {
  color: red;
  font-size: 90%;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

.required::after {
  color: red;
  content: " *";
}

table {
  td:first-child {
    max-width: 120px;
  }

  td:nth-last-child(-n + 3) {
    max-width: 40px;
  }
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0 !important;
}

.enabled {
  color: green;
}

.disabled {
  color: red;
}

.delete {
  color: rgb(201, 14, 14);
}

.edit {
  color: rgb(112, 112, 255);
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
  gap: 4rem;
  
  &:not(:first-child) {
    padding-top: 10px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid lightgray;
  }
}

.details-block {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
}

h1 {
  font-weight: 500 !important;
}

.page-area-header {
  font-weight: 500 !important;
}
