<h1 mat-dialog-title>{{data.isNewItem ? 'Add New' : 'Edit'}} Page</h1>

<div mat-dialog-content>
    <form [formGroup]="form">
        <div class="form-group">
            <mat-form-field appearance="outline" class="form-field"
                [class.mat-form-field-invalid]="formSubmitted && title.errors">
                <mat-label>Title</mat-label>
                <input type="text" formControlName="title" matInput required />
            </mat-form-field>
            <div *ngIf="formSubmitted && title.errors" class="invalid">Title is required.</div>
        </div>

        <div class="form-group">
            <label for="description" class="required">Description</label>
            <editor formControlName="description" [init]="tinyMCEEditorOptions"
                [class.is-invalid]="formSubmitted && description.errors">
            </editor>
            <div *ngIf="formSubmitted && description.errors" class="invalid">Description is required.</div>
        </div>

        <mat-slide-toggle formControlName="enabled">Enabled</mat-slide-toggle>
    </form>
</div>

<div mat-dialog-actions class="float-right">
    <button mat-raised-button (click)="onClose()">Cancel</button>
    <button mat-raised-button *ngIf="data.isNewItem" color="accent" (click)="onSubmit(true)">Create and add page
        areas</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</div>