<div class="container-fluid container-body">
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">

            <h1 class="text-center">Your Sites</h1>

            <button mat-raised-button class="mb-3" (click)="addOrUpdateSite()">Create New Site</button>

            <table mat-table [dataSource]="sites" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element">
                        <span [innerHTML]="element.description | safeHtml"></span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="urlSlug">
                    <th mat-header-cell *matHeaderCellDef> Url </th>
                    <td mat-cell *matCellDef="let element"> {{element.urlSlug}} </td>
                </ng-container>

                <ng-container matColumnDef="enabled">
                    <th mat-header-cell *matHeaderCellDef> Enabled </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon [ngClass]="element.enabled ? 'enabled' : 'disabled'">{{element.enabled ? 'check' :
                            'error_outline'}}</mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="addOrUpdateSite(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="deleteSite(element)" class="delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Disclaimer column -->
                <ng-container matColumnDef="disclaimer">
                    <td mat-footer-cell *matFooterCellDef colspan="5" class="footer">
                        There are not any sites. Create your first one.
                        <button mat-icon-button (click)="addOrUpdateSite()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                <ng-container *ngIf="!sites.length">
                    <tr mat-footer-row *matFooterRowDef="['disclaimer']"></tr>
                </ng-container>
            </table>

        </div>
    </div>
</div>