.fullscreen {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  position: fixed;
  z-index: 99999999;

  &::before {
    content: "";
    height: 100vh;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100vw;
    z-index: 0;
  }
}
