@import "src/scss/variables";

.first-page-area {
  background-color: $light-blue;
  border: 2px solid $border-blue;
  padding: 10px;

  p {
    font-size: large;
  }
}

.btn-save {
  width: 100px;
}

.hidden-area {
  background-color: #dedede;
}
